body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    font-weight: 700;
}

h4 {
    font-size: 28px;
    font-weight: 800;
}

.higlight-part {
    color: orange;
}

.gradient-button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-image: linear-gradient(45deg,#FBA24F, #FF1E1E);
    padding: 15px 30px;
    border-radius: 100px;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
}

section {
    margin: 50px 0px;
}

.header-part {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.header-part p {
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.header-left {
    margin-top: 70px;
}

.header-part img {
    width: 90%;
}

.about-me-section {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.about-part {
    display: flex;
}

.about-part img {
    width: 65%;
}

.about-left {
    padding-top: 6%;
    padding-left: 15%;
}

.about-part p {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.about-right {
    padding-top: 8%;
    padding-right: 10%;
}

.section-heading {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    line-height: 25px;
}

.recipes-part {
    display: flex;
    padding: 0px 5%;
}

.recipe-item {
    width: 33.33%;
    margin: 0px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
}

.recipe-image img {
    width: 100%;
}

.recipe-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #18191F;
}

.counting-part {
    display: flex;
    background: #FFFFFF;
    margin: 0px 7%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.counting-item {
    width: 33.33%;
    padding-bottom: 3%;
    text-align: left;
    padding-left: 10%;
}

.counting-item h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.counting-item p {
    font-size: 16px;
    font-weight: 400;
}

footer {
    height: 250px;
    background-color: #0B0D17;
}

.footer-content {
    text-align: center;
    padding-top: 10px;
}

footer h4 {
    font-size: 30px;
    font-weight: 900;
    color: #5B5B5B;
}

footer p {
    font-size: 16px;
    color: #fff;
}

.newsletter-section {
    background-image: url(images/shapes/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-bottom: 0;
}

.newsletter-part {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
}

.newsletter-top {
    margin-bottom: 30px;
}

.newsletter-top h2 {
    color: #1D2228;
    font-size: 42px;
    margin-bottom: 0;
}

.newsletter-top p {
    color: #515151;
    font-size: 16px;
}

.form-input {
    height: 28px;
    padding: 8px 15px;
    border-radius: 8px;
    border: 1px solid #efefef;
    color: #6e6e6e;
    border-color: #e5e1dc;
    background-color: #fff;
    width: 250px;
}

.form-button {
    margin-left: 15px;
    background-color: orange;
    background-image: linear-gradient(45deg,#FBA24F, #FF1E1E);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    padding: 12px 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
}

.gallery-section {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #0B0D17;
}

.gallery-item {
    width: 16.66%;
}

.gallery-item a {
    text-decoration: none;
}

.gallery-item img {
    width: 100%;
}

